header {
  background-image:url("../../proj5/assets/bg/Background_Intro.png");
  background-size:contain;
  width: 100vw;
  height: 100dvh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

    .avatar {
      margin-bottom: 3rem;
    }

    .subtitle {
      text-align: center;
      padding-top:56px;
      padding-bottom:8px ;

        span {
        color: var(--red);

        }

    }


    .text-lg {

    }

    .text-sm {
      padding-bottom: 40px;

    }
  }

  .container {
    width: 100%;
    height: 100%;
  }

  h1 {
    text-align: center;
    padding-bottom: 20px;
  }

  .text-sm {
    text-align: center;
    padding-bottom: 80px;
  }


   a {
    text-decoration: none;

  }

.tag {
  display: inline-block;
  padding:16px;

}

.setinha {
  position: absolute;
  bottom: 59px;
}

